.App {
  text-align: center;
  background-color: #F0F0F0;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #F45050;
}

/* homepage */
.home {
  background-color: #3C486B;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.btn-container button {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #3C486B;
  border-color: #9c9999;
  color:#F45050;
}

.votd {
  color:#F45050;
}

.votd:hover {
  color:white;
}

/*Verse page*/
.back-btn {
  margin-top: 40%;
}

.verse-chapter {
  font-weight: 600;
}

.spinner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

/* Easy page */
.greenButton {
  background-color: rgb(77, 233, 77) !important;
  color: white !important;
}

.redButton {
  background-color: red !important;
  color: white !important;
}

/* Breakpoints */

@media (min-width: 900px) { 
  .home {
    width: 50%;
  }
}

@media (min-width: 1600px) { 
  .home {
    width: 30%;
  }
}
